body {
margin: 0;
font-family: sans-serif;
}
.header {
    background-color: royalblue;
    height: 50px;
    font-size: 2em;
    color: white;
    padding: 20px;
}
.todoForm {
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
.todoInput {
    width: 100%;
    border: none;
    border-bottom: 1px solid whitesmoke;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
}
.todoButton {
    width: 100%;
    border: none;
    height: 50px;
    background: tomato;
    font-size: 1.2em;
    color: white;
    margin-top: 20px;
}
.todoItem {
    margin: auto;
    border: 2px solid whitesmoke;
    padding: 20px;
    margin-top: 20px;
}
.todoName {

}
.deleteItem {
    width: 110px;
    border-radius: 2px;
    border: none;
    height: 50px;
    background: tomato;
    color: white;
    margin-top: 20px;
}